---
---
@import "main";
@import "code";

.hero {
  height: 500px;
  display: flex;
  place-content: center;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(0deg, rgba(21, 21, 22, 0.51), rgba(21, 21, 22, 0.51)), url("../images/competidores.jpg");
  background-size: cover;
  position: relative;
}

.bghover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000092;
}

h1 {
  font-size: 4.8rem;
  margin-bottom: 1.6rem;
  color: white;
  background-color: #164194;
  padding: 0.4rem 1.6rem;
  border-radius: 0.4rem;
}

main {
  background-color: #f3f5f9;
  min-height: 200px;
  padding: 4.2rem 10%;
}

h2 {
  font-size: 3.6rem;
}

p {
  font-size: 2.0rem;
}

#telegram {
  font-family: 'Gabarito', cursive;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  gap: 0.8rem;
  padding: 8px 1.6rem;
  background-color: #164194;
  color: white;
  border-radius: 0.4rem;
  border: none;
  cursor: pointer;
}

#telegram:hover {
  background-color: #14377c;
}


#telegram img {
  width: 3rem;
  height: 3rem;
}

section {
  margin-top: 2.4rem;
}

section:first {
  margin-top: 0;
}