---
permalink: /blog
---
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/blog.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.8/dist/katex.min.css" integrity="sha384-GvrOXuhMATgEsSwCs4smul74iXGOixntILdUW9XmUC6+HX0sLNAK3q71HotJqlAn" crossorigin="anonymous">

    <!-- The loading of KaTeX is deferred to speed up page rendering -->
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.8/dist/katex.min.js" integrity="sha384-cpW21h6RZv/phavutF+AuVYrr+dA8xD9zs6FwLpaCct6O9ctzYFfFr4dgmgccOTx" crossorigin="anonymous"></script>

    <!-- To automatically render math in text elements, include the auto-render extension: -->
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.8/dist/contrib/auto-render.min.js" integrity="sha384-+VBxd3r6XgURycqtZ117nYw44OOcIax56Z4dCRWbxyPt0Koah1uHoK0o4+/RRE05" crossorigin="anonymous"
        onload="renderMathInElement(document.body);"></script>
    <title>Maratona UFRN</title>
  </head>
  <body>
    {% include header.html %}
    <main>
      <div class="content">
        <h1>Últimos posts</h1>
        <ul class="post-list">
          {% for post in site.posts %}
            <li>
              <a href="{{ site.baseurl }}{{ post.url }}">
                <div class="post-cover">
                  {% if post.cover %}
                    <img src="{{ post.cover }}"/>
                  {% else %}
                    <img src="{{ site.baseurl }}/assets/images/competidores.jpg" />
                  {% endif %}
                </div>
                <div class="post-spoiler">
                  <h2>{{ post.title }}</h2>
                  <p>Por <b>{{ post.author }}</b> em <b>{{ post.date | date_to_string }}</b></p>
                </div>
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </main>
  </body>
</html>